[init]
	defaultBranch = main
[user]
	email = akippix@outlook.jp
	name = akippix
	signingkey = 9739AA18A315A642CD6E70B632773FBB32A7BA1F
[commit]
	gpgsign = true
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
