[init]
	defaultBranch = main
[user]
	email = akippix@gmail.com
	name = akippix
	signingkey = F21FE10A6BFA44FBA8405709A58276F619147042
[commit]
	gpgsign = true
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
[gpg]
	program = /opt/homebrew/bin/gpg
