[init]
	defaultBranch = main
[user]
	email = akippix@gmail.com
	name = akippix
	signingkey = B973CAB9BF4DA565597F188C7CB313BF4007F9AF
[commit]
	gpgsign = true
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
